<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWesKE4Tc4h4iuqjICDkwe00LTsSilLjc</string>
	<key>GCM_SENDER_ID</key>
	<string>182126563583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopApp</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-5498f</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-5498f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182126563583:ios:d62c6ea471033af505bcca</string>
</dict>
</plist>